////////////////////////
// Colors
////////////////////////
/// Greens
$color-moss: #394a38;
$color-forest: #41693d;
$color-grass: #69813b;

/// Browns
$color-apricot: #b96a56;
$color-copper: #5e462c;

/// Blues
$color-spruce: #045d67;
$color-water: #5c93ad;

/// Neutrals
$color-cream: #eee8d2;
$color-sand: #d1b99d;
$color-fawn: #c3c19f;

$color-iron: #231d1b;

$transition--standard: 0.15s ease-in-out;

$font-body: "gill-sans-nova", "Helvetica Neue", "Noto Sans", "Liberation Sans",
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-headings: "trajan-sans-pro", sans-serif;

/**
 * Colors
 */
$original-color-primary: #264298;
$original-color-secondary: #20b0d7;
