/* Action buttons - Continue, Select Seat */
.activity-buttons,
.activity-cancel-buttons {
	background-color: var(--cno-color-grass) !important;
	color: black !important;
	line-height: 14px !important;
	letter-spacing: 5px !important;
	cursor: pointer;

	&:hover {
		background-color: var(--cno-color-forest);
	}
}

.activity-confirm-buttons {
	padding: 15px 25px !important;
	width: 230px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.dialog-parent-container {
	.popup-confirm-button {
		background-color: var(--cno-color-grass) !important;
		color: black !important;
	}
}

.sub-menu-selection {
	/* Adds bottom border and changes text color for selected menu items */
	border-bottom: 2px solid #69813b !important;
	color: #69813b !important;
}
