/*Header*/

.activites-header {
	background: #fff !important;
}

.cart-logo {
	color: var(--cno-color-primary) !important;
}

.cart-count {
	color: var(--cno-color-primary) !important;
	border: 1px solid var(--cno-color-primary) !important;
}
