.mat-icon-color {
	color: var(--cno-color-grass) !important;

	// Back Icon
	&[_ngcontent-pql-c208] {
		color: var(--cno-color-grass) !important;
	}
}

.legend-icon.selected {
	background-color: var(--cno-color-apricot) !important;
}

.cart-logo {
	color: var(--cno-color-grass) !important;
}

.cart-count {
	color: var(--cno-color-moss) !important;
	border: 1px solid var(--cno-color-grass) !important;
}
