@use "../abstracts/variables" as v;

:root {
	--cno-color-grass: #{v.$color-grass};
	--cno-color-forest: #{v.$color-forest};
	--cno-color-apricot: #{v.$color-apricot};

	--cno-color-cream: #{v.$color-cream};
	--cno-color-iron: #{v.$color-iron};

	--cno-color-spruce: #{v.$color-spruce};

	--cno-font-headings: #{v.$font-headings};
	--cno-font-body: #{v.$font-body};
}

.main-theme-color {
	// color: #264298 !important;
	color: var(--cno-color-grass) !important;

	&[_ngcontent-pql-c316] {
		color: var(--cno-color-forest) !important;
	}
}

.secondary-theme-color {
	// color: #20b0d7 !important;
	color: var(--cno-color-apricot) !important;

	&[_ngcontent-pql-c316] {
		color: var(--cno-color-apricot) !important;
	}
}
